.jumbotron   {
   background-image: url("../img/landscape.jpg");
   background-position: bottom;
   background-size: cover;
   height: 500px;
}

.jumbotron h1 {
   color: yellow;
   font-size: 60px;
   margin: 40px 80px;
   text-align: center;
}

.jumbotron p {
   color: red;
   font-size: 25px;
   font-family: fantasy;
}

.jumbotron .menu {
   text-align: center;
}

.jumbotron .menu a {
   color: white;
   font-size: 40px;
   font-weight: 400px;
   display: inline-block;
   margin: 100px 60px;
   text-decoration:none;
}
.jumbotron .menu a:hover {
   text-decoration: underline;
   text-decoration-color: red;
}

/* .jumbotron .menu a span {
   color: white;
} */

.btn {
   background-color: black;
}
